fastapi
uvicorn[standard]
asgiref==3.8.1
click==8.1.7
greenlet==3.0.3
h11==0.14.0
mysqlclient==2.2.4
pydantic==1.10.17
python-dotenv==1.0.1
SQLAlchemy==2.0.31
starlette==0.14.2
typing_extensions==4.12.2
